@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden antialiased;
}

main {
  min-height: 60vh;
}

h1 {
  @apply text-5xl;
  @apply font-extrabold;
}

a:hover {
  @apply text-brand;
  text-decoration: underline;
  cursor: pointer;
  transition: color 100ms ease-in-out;
}
